server_tokens off;

server {
    listen {{ certbot_port }} default_server;
    server_name {{ http_host }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ http_host }}$request_uri? permanent;
    }
}
